:root {
  --verde-principal: rgb(10, 105, 10);
  --verde-secundario: rgb(51, 175, 51);
  --branco: white;
  --azul: #0d6efd;
}

.cabecalho__logo-inicio {
  font-size: 2rem;
  font-weight: bold;
  color: var(--verde-secundario);
}

header span{
  color: var(--azul);
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar .btn-primary,
.offcanvas .btn {
  background-color: var(--verde-secundario);
  color: var(--branco);
  border: 1px solid var(--verde-secundario);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease;
}

.navbar .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--azul);
  z-index: -1;
  transition: width 0.4s ease;
}

.navbar .btn:hover::before {
  width: 100%;
}

.navbar .btn:hover {
  color: var(--branco);
  border: 1px solid var(--azul);
}


.navbar .btn-outline-primary {
  background-color: white;
  color: var(--verde-principal);
  border: 1px solid var(--verde-principal);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease, border-color 0.4s ease;
}

.navbar .btn-outline-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0d6efd;
  z-index: -1;
  transition: width 0.4s ease;
}

.navbar .btn-outline-primary:hover::before {
  width: 100%;
}

.navbar .btn-outline-primary:hover {
  color: var(--branco);
  border-color: #0d6efd;
}

.navbar .nav-link,
.offcanvas .nav-link {
  position: relative;
  font-size: 1.1rem;
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .nav-link::after,
.offcanvas .nav-link::after {
  content: '';
  position: absolute;
  left: 15px;
  bottom: 8px;
  width: 0;
  height: 2px;
  background-color: var(--verde-principal);
  transition: width 0.3s ease;
}

.navbar .nav-link:hover,
.offcanvas .nav-link:hover {
  color: var(--verde-principal);
}

.navbar .nav-link:hover::after,
.offcanvas .nav-link:hover::after {
  width: calc(100% - 30px);
}

.offcanvas {
  width: 250px;
}

.offcanvas-header {
  border-bottom: 1px solid #ddd;
}

.navbar-toggler {
  border: none;
}

@media (min-width: 992px) {
  .navbar-nav.d-none.d-lg-flex {
    display: flex !important;
  }

  .offcanvas {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .navbar-nav.d-none.d-lg-flex {
    display: none !important;
  }

  .cabecalho__pesquisa-container {
    display: none;
  }

  .navbar-nav .nav-item {
    text-align: center;
    margin: 5px 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }
}