.cabecalho__logo-inicio {
    font-size: 2rem;
    font-weight: bold;
    color: var(--verde-secundario);
  }
  
  /* Alinhar itens na versão Desktop */
  .navbar-nav .nav-item {
    margin-right: 20px;
  }
  
  /* Centralizar a caixa de pesquisa */
  .cabecalho__pesquisa-container {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .cabecalho__pesquisa {
    width: 100%;
    max-width: 250px;
  }
  
  /* Botões na versão Desktop */
  .navbar-nav .nav-item a {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
  }
  
  /* Botões personalizados */
  .navbar .btn-primary {
    background-color: var(--verde-secundario);
    border-color: var(--verde-secundario);
    color: white;
  }
  
  .navbar .btn-outline-primary {
    background-color: transparent;
    color: var(--verde-principal);
    border: 1px solid var(--verde-principal);
  }
  
  .navbar .btn-primary:hover,
  .navbar .btn-outline-primary:hover {
    background-color: var(--verde-principal);
    border-color: var(--verde-principal);
    color: var(--branco);
  }
  
  /* Responsividade: Ajustes do menu hambúrguer */
  @media (max-width: 991px) {
    .navbar-nav.d-none.d-lg-flex {
      display: none !important;
    }
  
    .cabecalho__pesquisa-container {
      display: none; /* Oculta a pesquisa em dispositivos móveis */
    }
    
    /* Modifica os itens do menu hambúrguer */
    .navbar-nav .nav-item {
      text-align: center;
      margin: 5px 0;
    }
    
    .navbar-toggler {
      margin-left: auto;
    }
  }
  