:root {
  --verde-principal: rgb(10, 105, 10);
  --verde-secundario: rgb(51, 175, 51);
  --branco: white;
  --azul: #0d6efd;
}

.cabecalho__logo-inicio {
  font-size: 2rem;
  font-weight: bold;
  color: var(--verde-secundario);
}

.offcanvas-title {
  color: var(--verde-secundario);
}

header span {
  color: var(--azul);
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar .btn-primary,
.offcanvas .btn {
  background-color: var(--verde-secundario);
  color: var(--branco);
  border: 1px solid var(--verde-secundario);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.navbar .btn-outline-primary {
  background-color: white;
  color: var(--verde-principal);
  border: 1px solid var(--verde-principal);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .navbar .btn-primary:hover,
  .navbar .btn-outline-primary:hover {
    background-color: var(--azul) !important;
    border-color: var(--azul) !important;
    color: var(--branco) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .navbar .btn-primary::before,
  .navbar .btn-outline-primary::before {
    display: none;
  }
}

.navbar .nav-link,
.offcanvas .nav-link {
  position: relative;
  font-size: 1.1rem;
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
}

.offcanvas {
  width: 250px;
}

.offcanvas-header {
  border-bottom: 1px solid #ddd;
}

.navbar-toggler {
  border: none;
}

.navbar .btn:focus,
.navbar .btn:active,
.navbar .btn-outline-primary:focus,
.navbar .btn-outline-primary:active,
.offcanvas .btn:focus,
.offcanvas .btn:active,
.navbar .nav-link:focus,
.navbar .nav-link:active,
.offcanvas .nav-link:focus,
.offcanvas .nav-link:active {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
  box-shadow: none;
}

@media (min-width: 992px) {
  .navbar-nav.d-none.d-lg-flex {
    display: flex !important;
  }

  .offcanvas {
    display: none !important;
  }

  .navbar .nav-link::after {
    content: '';
    position: absolute;
    left: 15px;
    bottom: 8px;
    width: 0;
    height: 2px;
    background-color: var(--verde-principal);
    transition: width 0.3s ease;
  }

  .navbar .nav-link:hover {
    color: var(--verde-principal);
  }

  .navbar .nav-link:hover::after {
    width: calc(100% - 30px);
  }
}

@media (max-width: 991px) {
  .navbar-nav.d-none.d-lg-flex {
    display: none !important;
  }

  .cabecalho__pesquisa-container {
    display: none;
  }

  .navbar-nav .nav-item {
    text-align: center;
    margin: 5px 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }
}