form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background-color: var(--verde-secundario);
  color: var(--branco);
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

.btn-submit::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--azul);
  z-index: -1;
  transition: width 0.4s ease;
}

@media (min-width: 992px) {
  .btn-submit:hover::before {
    width: 100%;
  }

  .btn-submit:hover {
    color: var(--branco);
    border: 1px solid var(--azul);
  }
}
